{% extends '@admin_views/base.html.twig' %}

{% block title %} BrandLive | Editar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin_bundle/css/skin-black.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin_bundle/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin_bundle/css/panel.css') }}">
    <style>
        .box-header form{
            margin:0;
        }
    </style>
{% endblock %}

{% block bodyClass %}hold-transition skin-black sidebar-mini{% endblock %}
{% block mainDivClass %}wrapper{% endblock %}

{% block body %}
    <div class="content-wrapper">

        <section class="content-header">
            <h1>
                Admin
                <small>Clientes</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('clients_list') }}"><i class="fa fa-dashboard"></i> Clientes</a></li>
                <li class="active">Editar</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-warning">
                <div class="box-header with-border">
                    {{ include('@admin_views/Components/form.html.twig', {'button_label': 'actualizar', 'button_class': 'success bg-olive', 'i_class': 'fa fa-edit'}) }}
                    
                    {% if listClientsGroups != '' %}
                        <input type="hidden" id="clientsGroups" value="{{listClientsGroups}}"> 
                    {% endif %}
                    

                    
                    {# Actions #}
                    <a href="{{ path('clients_list') }}" class="btn btn-default pull-right"><i class="fa fa-chevron-left"></i> </a>
                    {% set url_delete = path('clients_delete', {'id': client.id}) %}
                    {# REMOVE #}
                    <form method="post" action="{{url_delete}}" onsubmit="return confirm('¿Estas seguro que deseas eliminar este elemento?');" class="form_delete">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                        <button class="btn btn-danger" style="margin-left:5px;"><i class="fa fa-trash"></i> borrar</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin_bundle/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('admin_bundle/js/demo.js') }}"></script>
    <script src="{{ asset('admin_bundle/js/form.js') }}"></script>
{% endblock %}